<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sothis-example</display-name>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>zh-CN</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>sothis</filter-name>
		<filter-class>org.sothis.web.mvc.SothisFilter</filter-class>
		<init-param>
			<param-name>beanFactoryClass</param-name>
			<param-value>org.sothis.web.mvc.support.SpringBeanFactory</param-value>
		</init-param>
		<init-param>
			<param-name>configBeanName</param-name>
			<param-value>propertyConfigurer</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sothis</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
